<div id="controls">
    No Options <strong>=(</strong>
    <!--button>View</button>
    <button>Select</button>

    <div class="divisor"></div>
    
    <button class=prev>Previous</button>
    <button class=next>Next</button-->

    <div class="label">options</div>
</div>

<div class="output">
    <h1>Output</h1>
    <ul class="text">
    </ul>
    <input placeholder="Chatea aqui :D"/>
</div>

<div class="visor">

    <div id="movingBallG">
        <div class="movingBallLineG"></div>
        <div id="movingBallG_1" class="movingBallG"></div>
    </div>
    <div class="loading_txt">Loading...</div>

</div>