
<div class="shape rectangle blue">
</div>

<div class="shape rectangle red">
</div>

<div class="shape rectangle white">
</div>

<div class="shape rectangle green">
</div>

<div class="point red">
</div>